<a href="https://colab.research.google.com/github/mosesj1706/global-electronics-eda/blob/main/SQL_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Go to /content
%cd /content

# Remove any old copy
!rm -rf global-electronics-eda

# Clone your repo again
!git clone https://github.com/mosesj1706/global-electronics-eda.git

# Move into repo
%cd global-electronics-eda

# List all folders/files
!ls -R

/content
Cloning into 'global-electronics-eda'...
remote: Enumerating objects: 57, done.
remote: Counting objects: 100% (57/57), done.
remote: Compressing objects: 100% (47/47), done.
remote: Total 57 (delta 14), reused 41 (delta 5), pack-reused 0 (from 0)
Receiving objects: 100% (57/57), 1.87 MiB | 13.14 MiB/s, done.
Resolving deltas: 100% (14/14), done.
/content/global-electronics-eda
.:
Cleaned_CSV_files  notebooks  Reports	   src
LICENSE		   README.md  SQL_Queries  Uncleaned_CSV_files

./Cleaned_CSV_files:
Customers_clean.csv	  Products_clean.csv  Sales_clean.csv
Exchange_Rates_clean.csv  README.md	      Stores_clean.csv

./notebooks:
Global_Electronics_EDA.ipynb  README.md

./Reports:
README.md

./SQL_Queries:
Untitled.txt

./src:
README.md

./Uncleaned_CSV_files:
Customers.csv	     Exchange_Rates.csv  README.md  Stores.csv
Data_Dictionary.csv  Products.csv	 Sales.csv

In [7]:
!ls -R /content/global-electronics-eda

/content/global-electronics-eda:
Cleaned_CSV_files  notebooks  Reports	   src
LICENSE		   README.md  SQL_Queries  Uncleaned_CSV_files

/content/global-electronics-eda/Cleaned_CSV_files:
Customers_clean.csv	  Products_clean.csv  Sales_clean.csv
Exchange_Rates_clean.csv  README.md	      Stores_clean.csv

/content/global-electronics-eda/notebooks:
Global_Electronics_EDA.ipynb  README.md

/content/global-electronics-eda/Reports:
README.md

/content/global-electronics-eda/SQL_Queries:
Untitled.txt

/content/global-electronics-eda/src:
README.md

/content/global-electronics-eda/Uncleaned_CSV_files:
Customers.csv	     Exchange_Rates.csv  README.md  Stores.csv
Data_Dictionary.csv  Products.csv	 Sales.csv

In [8]:
import os
import pandas as pd
import sqlite3

# Repo and DB paths
repo_path = "/content/global-electronics-eda"
cleaned_path = os.path.join(repo_path, "Cleaned_CSV_files")
db_path = os.path.join(repo_path, "global_electronics.db")

In [9]:
# Load cleaned CSVs
customers = pd.read_csv(os.path.join(cleaned_path, "Customers_clean.csv"))
products  = pd.read_csv(os.path.join(cleaned_path, "Products_clean.csv"))
sales     = pd.read_csv(os.path.join(cleaned_path, "Sales_clean.csv"))
stores    = pd.read_csv(os.path.join(cleaned_path, "Stores_clean.csv"))
rates     = pd.read_csv(os.path.join(cleaned_path, "Exchange_Rates_clean.csv"))

print("‚úÖ Datasets loaded successfully")
print("Customers:", customers.shape)
print("Products:", products.shape)
print("Sales:", sales.shape)
print("Stores:", stores.shape)
print("Exchange Rates:", rates.shape)

‚úÖ Datasets loaded successfully
Customers: (15266, 12)
Products: (2517, 11)
Sales: (62884, 9)
Stores: (67, 5)
Exchange Rates: (11215, 3)

In [10]:
# Remove old DB if exists
if os.path.exists(db_path):
    os.remove(db_path)
    print("üóëÔ∏è Old DB removed")

# Connect to new SQLite DB
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
print(f"‚úÖ Connected to SQLite at {db_path}")

‚úÖ Connected to SQLite at /content/global-electronics-eda/global_electronics.db

In [11]:
# Write all DataFrames into SQLite
customers.to_sql("Customers", conn, if_exists="replace", index=False)
products.to_sql("Products", conn, if_exists="replace", index=False)
sales.to_sql("Sales", conn, if_exists="replace", index=False)
stores.to_sql("Stores", conn, if_exists="replace", index=False)
rates.to_sql("Exchange_Rates", conn, if_exists="replace", index=False)

print("üì¶ All tables written to SQLite")

üì¶ All tables written to SQLite

In [12]:
print("Customers Schema:")
print(pd.read_sql("PRAGMA table_info(Customers);", conn))

print("\nProducts Schema:")
print(pd.read_sql("PRAGMA table_info(Products);", conn))

print("\nSales Schema:")
print(pd.read_sql("PRAGMA table_info(Sales);", conn))

print("\nStores Schema:")
print(pd.read_sql("PRAGMA table_info(Stores);", conn))

print("\nExchange_Rates Schema:")
print(pd.read_sql("PRAGMA table_info(Exchange_Rates);", conn))

Customers Schema:
    cid         name     type  notnull dflt_value  pk
0     0  CustomerKey  INTEGER        0       None   0
1     1       Gender     TEXT        0       None   0
2     2         Name     TEXT        0       None   0
3     3         City     TEXT        0       None   0
4     4   State Code     TEXT        0       None   0
5     5        State     TEXT        0       None   0
6     6     Zip Code     TEXT        0       None   0
7     7      Country     TEXT        0       None   0
8     8    Continent     TEXT        0       None   0
9     9     Birthday     TEXT        0       None   0
10   10          Age  INTEGER        0       None   0
11   11     AgeGroup     TEXT        0       None   0

Products Schema:
    cid            name     type  notnull dflt_value  pk
0     0      ProductKey  INTEGER        0       None   0
1     1    Product Name     TEXT        0       None   0
2     2           Brand     TEXT        0       None   0
3     3           Color     TEXT        0       None   0
4     4   Unit Cost USD     REAL        0       None   0
5     5  Unit Price USD     REAL        0       None   0
6     6  SubcategoryKey  INTEGER        0       None   0
7     7     Subcategory     TEXT        0       None   0
8     8     CategoryKey  INTEGER        0       None   0
9     9        Category     TEXT        0       None   0
10   10       MarginUSD     REAL        0       None   0

Sales Schema:
   cid           name     type  notnull dflt_value  pk
0    0   Order Number  INTEGER        0       None   0
1    1      Line Item  INTEGER        0       None   0
2    2     Order Date     TEXT        0       None   0
3    3  Delivery Date     TEXT        0       None   0
4    4    CustomerKey  INTEGER        0       None   0
5    5       StoreKey  INTEGER        0       None   0
6    6     ProductKey  INTEGER        0       None   0
7    7       Quantity  INTEGER        0       None   0
8    8  Currency Code     TEXT        0       None   0

Stores Schema:
   cid           name     type  notnull dflt_value  pk
0    0       StoreKey  INTEGER        0       None   0
1    1        Country     TEXT        0       None   0
2    2          State     TEXT        0       None   0
3    3  Square Meters     REAL        0       None   0
4    4      Open Date     TEXT        0       None   0

Exchange_Rates Schema:
   cid      name  type  notnull dflt_value  pk
0    0      Date  TEXT        0       None   0
1    1  Currency  TEXT        0       None   0
2    2  Exchange  REAL        0       None   0

In [13]:
print("Customers:", pd.read_sql("SELECT COUNT(*) as rows FROM Customers;", conn))
print("Products:", pd.read_sql("SELECT COUNT(*) as rows FROM Products;", conn))
print("Sales:", pd.read_sql("SELECT COUNT(*) as rows FROM Sales;", conn))
print("Stores:", pd.read_sql("SELECT COUNT(*) as rows FROM Stores;", conn))
print("Exchange_Rates:", pd.read_sql("SELECT COUNT(*) as rows FROM Exchange_Rates;", conn))

Customers:     rows
0  15266
Products:    rows
0  2517
Sales:     rows
0  62884
Stores:    rows
0    67
Exchange_Rates:     rows
0  11215

In [ ]:
conn.close()
print("üîí SQLite connection closed")